* {
    box-sizing: border-box;
}

body {
  margin: 10px;
}

.hero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: inline-block;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
}